@model mummy.Models.Mummy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mummy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeAtDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeAtDeath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StructureValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StructureValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextileValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextileValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Photo)" alt="@Html.DisplayNameFor(model => model.Photo)" style="height:128px;">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
